/* Theme Colors
 * © 2025 hanagai
 */

:root {
  /* Primary Colors */
  --color-primary: #1c8ccd;
  --color-primary-variant: #f0907f;
  --color-on-primary: #f6faf3;
}

:root {
  color: var(--color-primary);
  background-color: var(--color-on-primary);
}

footer {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

nav {
  color: var(--color-on-primary);
  background-color: var(--color-primary);
}

nav:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-variant);
}

nav .hint {
  color: var(--color-primary);
}

summary {
  color: var(--color-primary-variant);
}

.legal {
  color: black;
  background-color: white;
}

section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

pre.legal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
