/* Define font sizes for the theme
 * © 2025 hanagai
 */

 :root {
  --font-size-xsmall: 8px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;
}

/* default font size */
:root {
  font-size: var(--font-size-medium);
}

/* Responsive font sizes */
@media (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.3rem;
  }
}
